
@model WebApp.Models.ViewModels.EmpleadosViewModel




@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body>
    <form method="post">
        <input type="submit" value="Obtener Empleados" formaction="@Url.Action("GetEmpl", "Empleados")" />
        <input type="button" id="btn_CreateEmpl" value="CrearEmpleado"  />
    </form>
    @using (Html.BeginForm("CreateEmpl", "Empleados", FormMethod.Post, new {@Id="FormCreate",@style="display:none" }))
    {
        <div class="container">
            <div scope="col">
                <label>Nombres </label>
            </div>
            <div scope="col">
                @Html.TextBoxFor(m => m.Nombres)
            </div>
            <div scope="col">
                <label scope="col">Apellidos </label>
            </div>
            <div scope="col">
                @Html.TextBoxFor(m => m.Apellidos)
            </div>
            <div scope="col">
                <label scope="col">Direccion </label>

            </div>
            <div scope="col">

                @Html.TextBoxFor(m => m.Direccion)
            </div>
            <div scope="col">
                <label>Email </label>

            </div>
            <div scope="col">

                @Html.TextBoxFor(m => m.Email)
            </div>
            <div scope="col">
                <label>IdCiudad </label>

            </div>
            <div scope="col">

                @Html.TextBoxFor(m => m.IdCiudad)
            </div>
            <div scope="col">
                <label>IdGenero </label>

            </div>
            <div scope="col">

                @Html.TextBoxFor(m => m.IdGenero)
            </div>

            <div scope="col">
                <br />
                <input type="submit" value="Crear Empleado" />
            </div>

        </div>
    }


    <div class="container allEmpl">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <table class="table">
            <thead>
                <tr>

                    @if (Model != null && Model.Items.Count != 0)
                    {
                        foreach (var propertyInfo in typeof(WebApp.Models.ViewModels.EmpleadosViewModel).GetProperties())
                        {
                            if (propertyInfo.Name != "Items")
                            {
                                <th scope="col">@propertyInfo.Name </th>
                            }

                        }
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Items.Count != 0)
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td scope="col">@Html.Raw(item.IdEmpleado)</td>
                            <td scope="col">@Html.Raw(item.Nombres)</td>
                            <td scope="col">@Html.Raw(item.Apellidos)</td>
                            <td scope="col">@Html.Raw(item.Direccion)</td>
                            <td scope="col">@Html.Raw(item.Email)</td>
                            <td scope="col">@Html.Raw(item.IdGenero)</td>
                            <td scope="col">@Html.Raw(item.IdCiudad)</td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        $("#btn_CreateEmpl").click(function () {
            $(this).hide();
            $("#FormCreate").show();
            $(".allEmpl").hide();
            

        });
    });
    </script>


